<div class="panel panel-default">
  <div class="panel-heading">
    <strong> Rifterlings Starter Overview Pack </strong>
  </div>
  <div class="panel-body">
    <p>
      These exported overview settings are basic settings for operating as part of
      Rifterlings in the Gallente Militia. They contain markings for both ally
      status, and engagement status (suspect flagging, limited engagement, etc).
      It also contains a basic set of preset tabs useful for lowsec PvP.
    </p>
    <p>
      This is supposed to be a "starter pack". If you already have an
      ultra-customized overview, this is likely <em>not</em> an improvement
      in your case.
    </p>
    <div class="text-right">
      <a class="btn btn-default" routerLink="overview-guide">
        Read more...
      </a>
      <a class="btn btn-primary" href="/rling-fw.v1.yaml">
        <span class="glyphicon glyphicon-download-alt"></span>
        Download
      </a>
    </div>

  </div>
</div>
